<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <%= form_for [@post, @comment], remote: true do |f|  %>
            <div class="form-group">
                <%= f.label :body %>
                <%= f.text_area :body, class: "form-control" %>
            </div>
            <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>