<div class="panel panel-primary">
    <div class="panel-heading">
        <%= link_to post_path(post), class: 'post-link' do %>
            <%= post.title %>
        <% end %>
    </div>
    <div class="panel-body">
        <%= post.body %>
    </div>
</div>