<center><h2>POSTS</h2></center>

<div class="row">

    <div class="col-sm-8 col-sm-offset-2">
        <div class='posts-container'>
            <% @posts.each do |post| %>
                <%= render partial: 'post', locals: {  post: post } %>
                <div class='posts-actions'>
                    <%= link_to 'Destroy', post_path(post), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
                    <%= link_to 'Edit', edit_post_path(post), class: "btn btn-success" %>
                </div>
            <% end %>
        </div>

        <center><h3>NEW POST</h3></center>

        <%= render partial: 'form', locals: { post: @post } %>

    </div>

</div>