<center><h2>Post <%= @post.title %></h2></center>


<div class="row">

    <div class="col-sm-8 col-sm-offset-2">

        <div class="panel panel-primary">
          <div class="panel-heading"><%= @post.title %></div>
          <div class="panel-body">
            <%= @post.body %>
          </div>
        </div>

    </div>
</div>